.sidebar {
  left: -6rem;
  width: 6rem;
}
.sidebar.on {
  left: 0;
}
.content.on {
  margin-left: 0 !important;
}
.navbar-toggle {
  left: 7.5rem;
}
.search-form-wrap {
  right: 6rem;
}
@media (min-width: 768px) {
  .outer,
  .wrap {
    width: 55% !important;
  }
}
@media (max-width: 768px) {
  .tocbot {
    display: none !important;
  }
  .sidebar {
    left: 0;
  }
  .sidebar.on {
    left: -6rem;
  }
  .content {
    transform: translateX(6rem);
  }
  .content.on {
    transform: translateX(0);
  }
}
